{{- $isExternal := false -}}
{{- $isHiddenPage := false -}}
{{- $url := .Destination | safeURL -}}
{{- if strings.HasPrefix .Destination "http" -}}
  {{- $isExternal = true -}}
{{- end -}}
{{- if (.Page.Params.hiddenPage | in (slice true "true")) -}}
  {{- $isHiddenPage = true -}}
{{- end -}}
{{- if not $isExternal -}}
  {{- $url = $url | absURL -}}
{{- end -}}
<a href="{{ $url }}" {{ with .Title }}title="{{ . }}"{{ end }} {{ if $isExternal | or $isHiddenPage }}target="_blank" rel="{{ if $isHiddenPage }}nofollow noopener noreferrer{{ end }}{{ if $isExternal }} external{{ end }}"{{ end }}>{{ .Text | safeHTML }}</a>