<meta http-equiv="content-type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
<meta name="description" content="{{ if .IsHome }}{{ site.Params.subtitle }}{{ else if .Description}}{{ .Description | plainify }}{{ else }}{{ .Summary | plainify }}{{ end }}" />
<meta name="keywords" content="{{ if .Params.keywords }}{{ delimit .Params.keywords ", " }}{{ else if .Params.tags }}{{ delimit .Params.tags ", " }}{{ else }}{{ site.Params.keywords }}{{ end }}" />
<meta name="author" content="{{ .Param "author" }}" />
{{ if .Params.hiddenPage | or .Params.noindex | in (slice "true" true) }}
<meta name="robots" content="noindex,nofollow" />
{{ else }}
<meta name="robots" content="index,follow" />
{{ end }}
<link rel="canonical" href="{{ if .Params.canonicalURL -}} {{ trim .Params.canonicalURL " " }} {{- else -}} {{ .Permalink }} {{- end }}" />

{{/* Styles */}}
{{ $defaultStyles := resources.Get "css/style.scss" }}
<!-- Local Theme Variables -->
{{ if and (isset .Params "color") (not (eq .Params.color "")) }}
  {{ $localColorCss := resources.Get (printf "css/color/%s.scss" .Params.color) }}
  {{ $localCss := slice $localColorCss $defaultStyles | resources.Concat (printf "css/%s-local.scss" .Params.color) }}
  {{ $localColorStyles := $localCss | resources.ToCSS }}
  <link rel="stylesheet" href="{{ $localColorStyles.Permalink }}">
{{ else }}
  <!-- Theme Variables -->
  {{ $colorCss := resources.Get (printf "css/color/%s.scss" (site.Params.ThemeColor | default "orange")) }}
  {{ $css := slice $colorCss $defaultStyles | resources.Concat "css/base.scss" }}
  {{ $options := (dict "targetPath" "styles.css" "outputStyle" "compressed" "enableSourceMap" true "precision" 6 "includePaths" (slice "node_modules")) }}
  {{ $styles := $css | resources.ToCSS $options }}
  <link rel="stylesheet" href="{{ $styles.Permalink }}">
{{ end }}

{{/* Static CSS */}}
{{ if (fileExists "static/style.css") -}}
  <link rel="stylesheet" href="{{ "style.css" | absURL }}">
{{- end }}

{{/* Favicon Stuff */}}
{{ if isset site.Params "favicon" -}}
  {{ with site.Params.favicon.size32 -}}
  <link rel="shortcut icon" sizes="32x32" href="{{ . | absURL }}">
  {{ end -}}
  {{ with site.Params.favicon.size16 -}}
  <link rel="shortcut icon" sizes="16x16" href="{{ . | absURL }}">
  {{ end -}}
  {{ with site.Params.favicon.nosize -}}
  <link rel="shortcut icon" href="{{ . | absURL }}">
  {{ end -}}
  {{ with site.Params.favicon.appleTouchIcon -}}
  <link rel="apple-touch-icon" sizes="180x180" href="{{ . | absURL }}">
  {{ end -}}
{{ else -}}
  <link rel="shortcut icon" href="{{ printf "img/theme-colors/%s.png" (or .Params.color site.Params.ThemeColor | default "orange") | absURL }}">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ printf "img/theme-colors/%s.png" (or .Params.color site.Params.ThemeColor | default "orange") | absURL }}">
{{ end -}}

{{ with site.Params.siteManifest -}}
  <link rel="manifest" href="{{ . }}">
{{ end -}}

{{ with .OutputFormats.Get "RSS" }}
  <link href="{{ .RelPermalink }}" rel="alternate" type="application/rss+xml" title="{{ site.Title }}" />
{{ end }}

{{ with .OutputFormats.Get "json" }}
  <link href="{{ .RelPermalink }}" rel="alternate" type="application/json" title="{{ site.Title }}" />
{{ end }}

{{ partial "extended_head.html" . }}
{{ partial "templates/opengraph.html" . }}
{{ partial "templates/twitter_cards.html" . }}
{{ template "_internal/google_analytics.html" . }}
