{{- with (.Params.cover | or site.Params.cover) -}}
<meta name="twitter:card" content="summary_large_image" />
{{ with $.Resources.GetMatch . -}}
<meta name="twitter:image" content="{{ .RelPermalink | absURL }}" />
{{ else -}}
<meta name="twitter:image" content="{{ . | absURL }}" />
{{ end -}}
{{ else -}}
<meta name="twitter:card" content="summary"/>
{{- end -}}
{{ with .Param "authorTwitter" -}}
<meta name="twitter:creator" content="{{ . }}">
{{ end -}}
<meta name="twitter:title" content="{{ .Title }}"/>
<meta name="twitter:description" content="{{ if .IsHome }}{{ site.Params.subtitle }}{{ else if .Description}}{{ .Description | plainify }}{{ else }}{{ .Summary | plainify }}{{ end }}"/>
{{ with site.Params.social.twitter -}}
<meta name="twitter:site" content="@{{ . }}"/>
{{ end -}}
